* {
  box-sizing: border-box;
}

@media (min-width: 992px) {
  /* Desktop */
  h2 {
    text-align: center;
  }
  .chicken_div {
    width: 30%;
    border: 1px black solid;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /* Tablet view  */
}

@media (max-width: 767px) {
  /* Mobile view */
}
