body {
  font-size: 16px;
  color: #fff;
  /* background-color: #61122f; */
  font-family: "Oxygen", sans-serif;
}

/** HEADER **/

#header-nav {
  background-color: #f6b319;
  border-radius: 0;
  border: 0;
  height: 60px;
}

.navbar-brand h2 {
  color: #557c3e;
  font-size: 1.6em;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
}
.navbar-brand {
  padding-left: 30px;
}
.navbar-header button.navbar-toggle,
.navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
  margin-top: 14px;
}

a.xs-menu.visible-xs {
  border-bottom: 2px solid black;
}

h2.title {
  color: black;
  margin-bottom: 30px;
}

.main-text {
  color: black;
}
main {
  position: relative;
  z-index: -1;
}

.main-home.container-fluid {
  background-color: whitesmoke;
  margin-left: 10px;
  margin-right: 10px;
}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  .navbar-default .navbar-collapse,
  .navbar-default .navbar-form {
    background-color: whitesmoke;
    margin-top: 4px;
  }
  .navbar-default .navbar-nav > li > a {
    color: #61122f;
    border-bottom: 2px solid;
  }
}
